/* List Font */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
    font-family: 'EB Garamond', serif !important;
}

/* Start Header */
#header {
    text-align: center;
}

#logo {
    width: 150px;
    height: 150px;
}
/* End Header */

/* Start Nav */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#nav li {
    display: inline;
    color: black;
    text-decoration: none;
    padding: 3%;
    font-size: 150%;
    transition: color .75s;
    -webkit-transition: color .75s;
}

#nav li:hover {
    cursor: pointer;
    color: lightgray;
}

#nav .current {
    color: lightgray;
}
/* End Nav */

/* Start Inquire */
#inquire {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}

#cta {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 115%;
    border: 2px solid black;
    cursor: pointer;
    transition: padding .75s, color .75s, background-color .75s;
    -webkit-transition: padding .75s, color .75s, background-color .75s;
}

#cta:hover {
    padding: 15px 45px;
    border: 2px solid black;
    color: white !important;
    background-color: black !important;
}

#cta:visited {
    color: black;
    background-color: white;
}

#contact-form {
    width: 80%;
    margin: 25px auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cta-btn {
    margin-top: 15px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    padding: 15px 45px;
    color: black;
    text-decoration: none;
    transition: border 1s ease-out, padding 1s, color 1s, background-color 1s;
    -webkit-transition: border 1s ease-out, padding 1s, color 1s, background-color 1s;
}

.cta-btn:hover {
    border: 2px solid black;
    color: white;
    padding: 15px 65px;
    cursor: pointer;
    background-color: black;
}
/* End Inquire */

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 45px;
    font-weight: bold;
    margin: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* End Modal */

.page-wrapper {
    margin: 25px auto;
}

/* Start Photos */
#photos {
    text-align: center;
}

#photos img {
    margin-top: 10px;
    width: 50%;
    height: auto;
    transition: width .75s;
    -webkit-transition: width .75s;
}

@media (max-width: 1500px) {
    #photos img {
        width: 60%
    }
}

@media (max-width: 1100px) {
    #photos img {
        width: 70%
    }
}

@media (max-width: 700px) {
    #photos img {
        width: 80%
    }
}

/* End Photos */

/* Start Websites */
#web {
    text-align: center;
}

.website {
    margin-bottom: 45px;
}

.website .web-link {
    color: black;
    text-decoration: none;
}

.website .web-img {
    max-width: 800px;
    width: 60%;
    height: auto;
    margin: 20px auto auto auto;
    transition: filter 500ms linear;
    -webkit-transition: -webkit-filter 500ms linear, width 500ms;
}

.website .web-img:hover {
    filter: brightness(65%);
}

.website h4 {
    font-size: 135%;
}

@media (max-width: 800px) {
    .website .web-img {
        width: 80%;
    }
}
/* End Websites */
